<h1>Привет! Чтобы быть с нами нужно пройти верификацию на сайте!</h1>

<p>
    Для подтверждения аккаунта, перейдите по ссылке и введите логин и пароль: <br><br>
    <a href="{{ signedUrl|raw }}">Подтвердить аккаунт</a>.<br><br>
    Данная ссылка действует {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
